
.domain-main{
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.domain-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.domain-body{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.domain-infos{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.domain-tasks{
  background-color: #5C87FF;
  padding: 12px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.domain-tasks h3,
.domain-tasks li{
  color: #FFFFFF;
}

.domain-fit{
  padding: 12px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.domain-description{
  max-width: 300px;
  padding: 12px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.domain-description h3{
  text-align: center;
}

@media(max-width: 768px) {

  .domain-infos{
    gap: 32px
  }
  
  .domain-body{
    flex-direction: column;
    gap: 32px;
  }

  .domain-description{
    max-width: 500px;
  }
}
