
.page-container{
  margin: 32px auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 24px;
  max-width: 700px;
  padding: 32px;
  border: 1px solid #4B4545;
  font-weight: 600;
}

.page-container p {
  color: #4B4545;
}

.page-title{
  font-size: 2rem;
  margin: 0;
  color: #5C87FF;
}

@media (max-width: 768px){
  .page-container{
    gap: 16px;
  }

  .page-title{
    margin: 0;
  }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}
.loader:before {
  content:"Chargement..."
}
@keyframes l2 {to{background-size: 100% 3px}}
